afirma-signfolder-proxy/src/main/webapp/wsdl/MobileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MobileService"
	targetNamespace="urn:juntadeandalucia:cice:pfirma:mobile:v2.0"
	xmlns:pfirma="urn:juntadeandalucia:cice:pfirma:mobile:v2.0"
	xmlns:type="urn:juntadeandalucia:cice:pfirma:mobile:type:v2.0"
	xmlns:request="urn:juntadeandalucia:cice:pfirma:mobile:request:v2.0"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	
	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:juntadeandalucia:cice:pfirma:mobile:request:v2.0">

			<xsd:import	namespace="urn:juntadeandalucia:cice:pfirma:mobile:type:v2.0" schemaLocation="MobileServiceTypes.xsd" />	

			<xsd:element name="queryRequestList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="state" type="xsd:string" />
						<xsd:element name="initPage" type="xsd:string" />
						<xsd:element name="pageSize" type="xsd:string" />
						<xsd:element name="signFormats" type="type:mobileStringList" />
						<xsd:element name="filters" type="type:mobileRequestFilterList" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryRequestListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="requestList" type="type:mobileRequestList" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="requestId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="request" type="type:mobileRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="documentPreview">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="documentId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="documentPreviewResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="document" type="type:mobileDocument" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
						
			<xsd:element name="getDocumentsToSign">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="requestTagId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getDocumentsToSignResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="documentList" type="type:mobileDocumentList" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="saveSign">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="requestTagId" type="xsd:string" />
						<xsd:element name="docSignInfoList" type="type:mobileDocSignInfoList" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="saveSignResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="rejectRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="requestId" type="xsd:string" />
						<xsd:element name="textRejection" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="rejectRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="responseId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryApplicationsMobile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryApplicationsMobileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applicationList" type="type:mobileApplicationList" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="approveRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="requestTagId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="approveRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="responseId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="signPreview">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="documentId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="signPreviewResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="document" type="type:mobileDocument" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="reportPreview">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="documentId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="reportPreviewResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="document" type="type:mobileDocument" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="registerSIMUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:string" />
						<xsd:element name="register" type="type:mobileSIMUser" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="registerSIMUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="registerStatus" type="type:mobileSIMUserStatus" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="validateUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="validateUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nifCif" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="updateNotifyPush">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
						<xsd:element name="estadoNotifyPush" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="updateNotifyPushResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="resultado" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="estadoNotifyPush">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificate" type="xsd:base64Binary" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="estadoNotifyPushResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="valorNotifyPush" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="queryRequestList">
		<wsdl:part name="queryRequestList" element="request:queryRequestList" />
	</wsdl:message>
	<wsdl:message name="queryRequestListResponse">
		<wsdl:part name="queryRequestListResponse" element="request:queryRequestListResponse" />
	</wsdl:message>
	<wsdl:message name="queryRequest">
		<wsdl:part name="queryRequest" element="request:queryRequest" />
	</wsdl:message>
	<wsdl:message name="queryRequestResponse">
		<wsdl:part name="queryRequestResponse" element="request:queryRequestResponse" />
	</wsdl:message>
	<wsdl:message name="documentPreview">
		<wsdl:part name="documentPreview" element="request:documentPreview" />
	</wsdl:message>
	<wsdl:message name="documentPreviewResponse">
		<wsdl:part name="documentPreviewResponse" element="request:documentPreviewResponse" />
	</wsdl:message>
	<wsdl:message name="getDocumentsToSign">
		<wsdl:part name="getDocumentsToSign" element="request:getDocumentsToSign" />
	</wsdl:message>
	<wsdl:message name="getDocumentsToSignResponse">
		<wsdl:part name="getDocumentsToSignResponse" element="request:getDocumentsToSignResponse" />
	</wsdl:message>
	<wsdl:message name="saveSign">
		<wsdl:part name="saveSign" element="request:saveSign" />
	</wsdl:message>
	<wsdl:message name="saveSignResponse">
		<wsdl:part name="saveSignResponse" element="request:saveSignResponse" />
	</wsdl:message>
	<wsdl:message name="rejectRequest">
		<wsdl:part name="rejectRequest" element="request:rejectRequest" />
	</wsdl:message>
	<wsdl:message name="rejectRequestResponse">
		<wsdl:part name="rejectRequestResponse" element="request:rejectRequestResponse" />
	</wsdl:message>
	<wsdl:message name="queryApplicationsMobile">
		<wsdl:part name="queryApplicationsMobile" element="request:queryApplicationsMobile" />
	</wsdl:message>
	<wsdl:message name="queryApplicationsMobileResponse">
		<wsdl:part name="queryApplicationsMobileResponse" element="request:queryApplicationsMobileResponse" />
	</wsdl:message>
	<wsdl:message name="approveRequest">
		<wsdl:part name="approveRequest" element="request:approveRequest" />
	</wsdl:message>
	<wsdl:message name="approveRequestResponse">
		<wsdl:part name="approveRequestResponse" element="request:approveRequestResponse" />
	</wsdl:message>
	<wsdl:message name="signPreview">
		<wsdl:part name="signPreview" element="request:signPreview" />
	</wsdl:message>
	<wsdl:message name="signPreviewResponse">
		<wsdl:part name="signPreviewResponse" element="request:signPreviewResponse" />
	</wsdl:message>
	<wsdl:message name="reportPreview">
		<wsdl:part name="reportPreview" element="request:reportPreview" />
	</wsdl:message>
	<wsdl:message name="reportPreviewResponse">
		<wsdl:part name="reportPreviewResponse" element="request:reportPreviewResponse" />
	</wsdl:message>
	<wsdl:message name="registerSIMUser">
		<wsdl:part name="registerSIMUser" element="request:registerSIMUser" />
	</wsdl:message>
	<wsdl:message name="registerSIMUserResponse">
		<wsdl:part name="registerSIMUserResponse" element="request:registerSIMUserResponse" />
	</wsdl:message>
	<wsdl:message name="validateUser">
		<wsdl:part name="validateUser" element="request:validateUser" />
	</wsdl:message>
	<wsdl:message name="validateUserResponse">
		<wsdl:part name="validateUserResponse" element="request:validateUserResponse" />
	</wsdl:message>
	<wsdl:message name="updateNotifyPush">
		<wsdl:part name="updateNotifyPush" element="request:updateNotifyPush" />
	</wsdl:message>
	<wsdl:message name="updateNotifyPushResponse">
		<wsdl:part name="updateNotifyPushResponse" element="request:updateNotifyPushResponse" />
	</wsdl:message>
	<wsdl:message name="estadoNotifyPush">
		<wsdl:part name="estadoNotifyPush" element="request:estadoNotifyPush" />
	</wsdl:message>
	<wsdl:message name="estadoNotifyPushResponse">
		<wsdl:part name="estadoNotifyPushResponse" element="request:estadoNotifyPushResponse" />
	</wsdl:message>
	<wsdl:message name="mobileException">
		<wsdl:part name="mobileException" element="type:mobileError" />
	</wsdl:message>

	
	
	<wsdl:portType name="MobileService">
		<wsdl:operation name="queryRequestList">
			<wsdl:input name="queryRequestList" message="pfirma:queryRequestList" />
			<wsdl:output name="queryRequestListResponse" message="pfirma:queryRequestListResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="queryRequest">
			<wsdl:input name="queryRequest" message="pfirma:queryRequest" />
			<wsdl:output name="queryRequestResponse" message="pfirma:queryRequestResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="documentPreview">
			<wsdl:input name="documentPreview" message="pfirma:documentPreview" />
			<wsdl:output name="documentPreviewResponse" message="pfirma:documentPreviewResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="getDocumentsToSign">
			<wsdl:input name="getDocumentsToSign" message="pfirma:getDocumentsToSign" />
			<wsdl:output name="getDocumentsToSignResponse" message="pfirma:getDocumentsToSignResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="saveSign">
			<wsdl:input name="saveSign" message="pfirma:saveSign" />
			<wsdl:output name="saveSignResponse" message="pfirma:saveSignResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="rejectRequest">
			<wsdl:input name="rejectRequest" message="pfirma:rejectRequest" />
			<wsdl:output name="rejectRequestResponse" message="pfirma:rejectRequestResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="queryApplicationsMobile">
			<wsdl:input name="queryApplicationsMobile" message="pfirma:queryApplicationsMobile" />
			<wsdl:output name="queryApplicationsMobileResponse" message="pfirma:queryApplicationsMobileResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="approveRequest">
			<wsdl:input name="approveRequest" message="pfirma:approveRequest" />
			<wsdl:output name="approveRequestResponse" message="pfirma:approveRequestResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="signPreview">
			<wsdl:input name="signPreview" message="pfirma:signPreview" />
			<wsdl:output name="signPreviewResponse" message="pfirma:signPreviewResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="reportPreview">
			<wsdl:input name="reportPreview" message="pfirma:reportPreview" />
			<wsdl:output name="reportPreviewResponse" message="pfirma:reportPreviewResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="registerSIMUser">
			<wsdl:input name="registerSIMUser" message="pfirma:registerSIMUser" />
			<wsdl:output name="registerSIMUserResponse" message="pfirma:registerSIMUserResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="validateUser">
			<wsdl:input name="validateUser" message="pfirma:validateUser" />
			<wsdl:output name="validateUserResponse" message="pfirma:validateUserResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="updateNotifyPush">
			<wsdl:input name="updateNotifyPush" message="pfirma:updateNotifyPush" />
			<wsdl:output name="updateNotifyPushResponse" message="pfirma:updateNotifyPushResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
		<wsdl:operation name="estadoNotifyPush">
			<wsdl:input name="estadoNotifyPush" message="pfirma:estadoNotifyPush" />
			<wsdl:output name="estadoNotifyPushResponse" message="pfirma:estadoNotifyPushResponse" />
			<wsdl:fault name="mobileException" message="pfirma:mobileException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MobileServiceSoapBinding" type="pfirma:MobileService">
		<soap:binding style="document"	transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryRequestList">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="queryRequestList">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="queryRequestListResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="queryRequest">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="queryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="queryRequestResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="documentPreview">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="documentPreview">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="documentPreviewResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="getDocumentsToSign">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getDocumentsToSign">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getDocumentsToSignResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="saveSign">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveSign">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveSignResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="rejectRequest">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="rejectRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="rejectRequestResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="queryApplicationsMobile">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="queryApplicationsMobile">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="queryApplicationsMobileResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="approveRequest">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="approveRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="approveRequestResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="signPreview">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="signPreview">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="signPreviewResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="reportPreview">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="reportPreview">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="reportPreviewResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="registerSIMUser">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="registerSIMUser">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="registerSIMUserResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="validateUser">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="validateUser">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="validateUserResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="updateNotifyPush">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateNotifyPush">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateNotifyPushResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="estadoNotifyPush">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="estadoNotifyPush">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="estadoNotifyPushResponse">
				<soap:body use="literal" />
			</wsdl:output>
		    <wsdl:fault name="mobileException">
		    	<soap:fault name="mobileException" use="literal"/>
		    </wsdl:fault>			
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MobileService">
		<wsdl:port name="MobileServicePort"
			binding="pfirma:MobileServiceSoapBinding">
			<soap:address location="http://servidor:puerto/MobileServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
